
<section class ="bg">
    <div class="py-3">
        <h1>Cinema</h1>
        <h1>Ironhack</h1>
    </div>
    <div>
     <a href="/movies/"><button type="button">Check the movies!</button></a>
        
   </div>
</section>
